---
interface BadgeProps {
    title: "string";
    isActive: "boolean";
}

const { title, isActive } = Astro.props as BadgeProps;
---

<button
    class={`w-full rounded-lg px-3 border-none snap-center ${isActive ? "bg-neutral-100 text-neutral-950" : "bg-neutral-800"}`}
>
    <span class="text-sm font-semibold text-nowrap">
        {title}
    </span>
</button>
