---
import Compass from "@icons/Compass.astro";
import Search from "@icons/Search.astro";
import Youtube from "@icons/Youtube.astro";
import Badge from "@components/Badge.astro";

const BADGES = [
    {
        title: "Todos",
        isActive: true,
    },
    {
        title: "Programación",
        isActive: false,
    },
    {
        title: "Podcasts",
        isActive: false,
    },
    {
        title: "Videojuegos",
        isActive: false,
    },
    {
        title: "Mixes",
        isActive: false,
    },
    {
        title: "Arte marcial",
        isActive: false,
    },
    {
        title: "En tiempo real",
        isActive: false,
    },
    {
        title: "Hardware",
        isActive: false,
    },
    {
        title: "Álgebra",
        isActive: false,
    },
];
---

<header class="mt-24">
    <!-- Mobile Header -->
    <div
        id="header"
        class="fixed top-0 left-0 right-0 w-full transition-transform text-neutral-100 z-[100]"
    >
        <div
            id="navbar"
            class="relative flex items-center justify-between p-3 border-b border-neutral-700 bg-neutral-950/80 backdrop-blur-md transition-transform duration-300 z-[99]"
        >
            <a class="h-5" href="/">
                <Youtube />
            </a>

            <div class="flex gap-6">
                <Search />
                <div class="size-6 rounded-full overflow-hidden">
                    <img
                        class="block w-full h-full object-cover"
                        src="/channel-profile.jpg"
                        alt="Channel profile picture"
                    />
                </div>
            </div>
        </div>

        <div
            id="sub-navbar"
            class="relative flex gap-6 py-2 px-3 overflow-x-auto snap-x border-b border-neutral-700 bg-neutral-950/80 backdrop-blur-md transition-transform duration-300 delay-100 z-[98]"
        >
            <button class="border-none bg-neutral-800 py-1 px-2">
                <Compass />
            </button>

            <nav class="flex justify-center gap-3">
                {
                    BADGES.map((badge) => {
                        return (
                            <Badge
                                title={badge.title}
                                isActive={badge.isActive}
                            />
                        );
                    })
                }
            </nav>
        </div>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let lastScrollTop = 0;
        const header = document.getElementById("header");
        const navbar = document.getElementById("navbar");
        const subNavbar = document.getElementById("sub-navbar");

        if (header && navbar && subNavbar) {
            window.addEventListener("scroll", function () {
                const scrollTop = document.documentElement.scrollTop;

                if (scrollTop > lastScrollTop) {
                    header.style.transform = "translateY(-100%)";
                    navbar.style.transform = "translateY(-100%)";
                    subNavbar.style.transform = "translateY(-200%)";
                } else {
                    header.style.transform = "translateY(0%)";
                    navbar.style.transform = "translateY(0%)";
                    subNavbar.style.transform = "translateY(0%)";
                }

                lastScrollTop = scrollTop;
            });
        }
    });
</script>
