---
interface Props {
	title: string;
}

const { title } = Astro.props;
import "@fontsource-variable/inter";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Disfruta los videos y la música que te encantan, sube contenido original y compártelo con tus amigos, familiares y el resto del mundo en YouTube."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
	</head>

	<Header />
	<body>
		<slot />
	</body>

	<style is:global>
		body {
			font-family: "IBM Plex Sans", sans-serif;
			background-color: rgb(10, 10, 10);
			color: rgb(245, 245, 245);
		}
	</style>


</html>
